#This file must be placed in /usr/share/applications

[Desktop Entry]
Type=Application
Terminal=false
Name=ElephantTools
Exec=/home/robin/Elephants/elephant-tools/ElephantGUI.py
Path=/home/robin/Elephants/elephant-tools/
Icon=/Elephants/elephant-tools/__resources/icon.png
StartupWMClass=eletools
